.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(190deg, #5498d7, #ffffff);
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header_title {
  text-transform: uppercase;
  color: #0239ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 620px) {
  .header_title {
    font-size: 15px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #acacac;
}

* {
  box-sizing: border-box;
}

.coins__balance {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 90px;
  background-color: #efeaf7;
  padding: 10px;
}
@media (max-width: 620px) {
  .coins__balance {
    gap: 10px;
    padding: 5px;
  }
}

.balance {
  font-size: 30px;
  font-weight: 200;
  line-height: 20px;
  color: #0084ff;
}
@media (max-width: 620px) {
  .balance {
    font-size: 15px;
    font-weight: 20;
    line-height: 15px;
  }
}

@media (max-width: 620px) {
  .coins__logo {
    width: 20px;
    height: 20px;
  }
}

.main {
  margin: 110px auto 0 auto;
  overflow-x: auto;
  display: flex;
}
.main ::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 87, 87, 0.5764705882);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn {
  border-radius: 90px;
  padding: 10px;
  border: none;
  color: #0084ff;
  font-size: 15px;
  min-width: 100px;
}

@media (max-width: 620px) {
  .header__logo {
    width: 100px;
    height: 30px;
  }
}

.popup1 {
  width: 300px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  z-index: 1000000;
  padding: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.popup__text1 {
  font-size: 40px;
  text-align: center;
}

.popup__btn1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50%;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
}

.hidden {
  display: none;
}

.card__coins,
.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 650px) {
  .card__coins,
  .card {
    width: 380px;
  }
}

.card__logo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.card__inner {
  padding: 15px;
  display: grid;
  grid-template-columns: minmax(200px, 600px);
}

.card__name {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 60px;
  text-decoration: none;
}

.card__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card__open {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #efeaf7;
  border-radius: 80px;
}
.card__open:hover {
  background-color: #d6dcde;
}

.card__open-text {
  font-size: 20px;
  color: #0084ff;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.cards__main {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 600px));
  overflow: auto;
  gap: 100px;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .cards__main {
    grid-template-columns: minmax(350px, 600px);
  }
}

.animation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000000;
}
@media (max-width: 800px) {
  .animation {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
}

.animation__video {
  width: 100%;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Set fixed card dimensions so everything aligns */
.popup__inner {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 0 40px;
}

.popup__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

/* Overlay elements on top */
.popup__data {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  color: white;
  font-weight: bold;
}

.popup__ball {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  z-index: 1;
}

.popup__photo {
  position: absolute;
  left: 0;
  top: 0;
}

.popup__rating,
.popup__position {
  font-size: 40px;
  z-index: 1;
}

.popup__bottom {
  display: flex;
  justify-content: space-between;
}

.popup__name {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  color: #fff;
  display: flex;
  z-index: 1;
  width: 260px;
  margin: 0 auto;
  justify-content: center;
}

.penalty__top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(0deg, #369ad0, #fff);
  z-index: -10;
}

.penalty__bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50vh;
  background-color: rgb(15, 100, 32);
  z-index: -10;
}

.penalty__goal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
@media (max-width: 400px) {
  .penalty__goal {
    width: 300px;
    height: 280px;
  }
}

.penalty__line {
  width: 100%;
  height: 8px;
  position: absolute;
  top: 22%;
  background-color: #8d8a8a;
  transform: rotate3d(10deg);
}
@media (max-width: 400px) {
  .penalty__line {
    top: 10%;
  }
}

.penalty__gk {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transform-origin: center;
}
@media (max-width: 400px) {
  .penalty__gk {
    height: 100px;
    width: 50px;
  }
}

.penalty__gk__right {
  position: absolute;
  top: -30%;
  left: 60%;
  transform: translateX(-50%) rotate(50deg);
  z-index: 2;
  transition: transform 0.6s ease-in, top 0.6s ease-in, left 0.6s ease-in;
}
@media (max-width: 400px) {
  .penalty__gk__right {
    top: -10%;
  }
}

.penalty__gk__left {
  position: absolute;
  top: -30%;
  left: 40%;
  transform: translateX(-50%) rotate(-30deg);
  z-index: 2;
  transition: transform 0.6s ease-in, top 0.6s ease-in, left 0.6s ease-in;
}
@media (max-width: 400px) {
  .penalty__gk__left {
    top: -10%;
  }
}

.penalty__options {
  display: flex;
  position: fixed;
  z-index: 10;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  justify-content: space-between;
  height: 200px;
  padding: 0;
  margin: 0;
  align-items: center;
}
.penalty__options li {
  width: 50px;
  justify-content: center;
  display: flex;
  z-index: 1000;
  font-size: 60px;
  color: #fff;
  opacity: 0.4;
  flex-grow: 1;
  height: 100%;
  align-items: center;
}
.penalty__options li:hover, .penalty__options li:focus-visible {
  opacity: 1;
}

.penalty__spot {
  width: 50px;
  height: 25px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  bottom: 20px;
}
@media (max-width: 400px) {
  .penalty__spot {
    bottom: 60px;
  }
}

.penalty__ball {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  z-index: 10;
}

.ball__left {
  position: absolute;
  left: 40%;
  top: 10px;
  width: 50px;
  height: 50px;
  z-index: 100000;
  transition: top 0.5s linear, left 0.5s linear, width 0.5s linear, height 0.5s linear;
}

.ball__center {
  position: absolute;
  left: 50%;
  top: 10px;
  width: 50px;
  transform: translateX(-50%);
  height: 50px;
  z-index: 100000;
  transition: top 0.5s linear, left 0.5s linear, width 0.5s linear, height 0.5s linear;
}

.ball__right {
  position: absolute;
  left: 60%;
  top: 10px;
  width: 50px;
  height: 50px;
  z-index: 100000;
  transition: top 0.5s linear, left 0.5s linear, width 0.5s linear, height 0.5s linear;
}/*# sourceMappingURL=styles.css.map */