.animation {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;

    @media (max-width: 800px) {
        position: absolute;
       top: 50%;
       transform: translateY(-50%);
    }
}

.animation__video {
    width: 100%; 
}