.card {
    display: flex;
    flex-direction: column;
    width: 600px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 650px) {
        width: 380px;
    }
}

.card__logo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.card__inner {
    padding: 15px;
    display: grid;
    grid-template-columns: minmax(200px, 600px);
}

.card__name {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 60px;
}

.card__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card__open {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color:  #efeaf7;
    border-radius: 80px;

    &:hover {
         background-color:  #d6dcde;
    }
}

.card__open-text {
    font-size: 20px;
    color:  #0084ff;
    font-weight: bold;
}