.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(190deg, #5498d7, #ffffff);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}

.header_title {
    text-transform: uppercase;
    color:#0239ff;
}

body {
    margin: 0;
    padding: 0;
    background-color: #acacac;
    
}

* {
    box-sizing: border-box;
}

.coins__balance {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 90px;
    background-color: #efeaf7;
    padding: 10px;
}

.balance {
    font-size: 30px;
    font-weight: 200;
    line-height: 20px;
    color: #0084ff;
}

.main {
    margin: 110px  0 0 0;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #57575793;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn {
    border-radius: 90px;
    padding: 10px;
    border: none;
    color: #0084ff;
    font-size: 15px;
    min-width: 100px
}