.penalty__top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(0deg, #369ad0, #fff);
    z-index: -10;
}

.penalty__bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color: rgb(15, 100, 32);
    z-index: -10;
}

.penalty__goal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    @media (max-width: 400px) {
        width: 300px;
        height: 280px;
    }
}

.penalty__line {
    width: 100%;
    height: 8px;
    position: absolute;
    top: 22%;
    background-color: #8d8a8a;
    transform: rotate3d(10deg);

     @media (max-width: 400px) {
        top: 10%;
    }
}

.penalty__gk {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transform-origin: center;

     @media (max-width: 400px) {
        height: 100px;
        width: 50px;
    }
}

.penalty__gk__right {
  position: absolute;
  top: -30%;
  left: 60%;
  transform: translateX(-50%) rotate(50deg);
  z-index: 2;
  transition: transform 0.6s ease-in, top 0.6s ease-in, left 0.6s ease-in;

   @media (max-width: 400px) {
        top: -10%;
    }
}

.penalty__gk__left {
  position: absolute;
  top: -30%;
  left: 40%;
  transform: translateX(-50%) rotate(-30deg);
  z-index: 2;
  transition: transform 0.6s ease-in, top 0.6s ease-in, left 0.6s ease-in;
   @media (max-width: 400px) {
        top: -10%;
    }
}


.penalty__options {
    display: flex;
    position: fixed;
    z-index: 10;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    justify-content: space-between;
    height: 200px;
    padding: 0;
    margin: 0;
    align-items: center;

    li {
        width: 50px;
        justify-content: center;
        display: flex;
        z-index: 1000;
        font-size: 60px;
        color: #fff;
        opacity: 0.4;
        flex-grow: 1;
        height: 100%;
        align-items: center;

        &:hover,
        &:focus-visible {
            opacity: 1;
        }
    }
}

.penalty__spot {
    width: 50px;
    height: 25px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    bottom: 20px;

     @media (max-width: 400px) {
        bottom: 60px;
    }

}

.penalty__ball {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    z-index: 10;
}

.ball__left {
    position: absolute;
    left: 40%;
    top: 10px;
    width: 50px;
    height: 50px;
    z-index: 100000;
    transition: top 0.5s linear, left 0.5s linear, width 0.5s linear, height 0.5s linear;
}

.ball__center {
    position: absolute;
    left: 50%;
    top: 10px;
    width: 50px;
    transform: translateX(-50%);
    height: 50px;
    z-index: 100000;
    transition: top 0.5s linear, left 0.5s linear, width 0.5s linear, height 0.5s linear
}

.ball__right {
    position: absolute;
    left: 60%;
    top: 10px;
    width: 50px;
    height: 50px;
    z-index: 100000;
    transition: top 0.5s linear, left 0.5s linear, width 0.5s linear, height 0.5s linear;
}