.penalty__top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(0deg, #369ad0, #fff);
    z-index: -10
}

.penalty__bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color: rgb(15, 100, 32);
    z-index: -10
}

.penalty__goal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.penalty__line {
    width: 100%;
    height: 8px;
    position: absolute;
    top: 21%;
    background-color: #8d8a8a;
    transform: rotate3d(10deg)
}